
.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-out;
}
.title{
    font-size: 20px;
    font-weight: 300;
}

.tabs button:hover {
    color: rgb(198, 196, 196);
    background-color: rgba(255, 255, 255, 0.15);
}

.tabs button:disabled {
    background: linear-gradient(245.39deg, #FC65ED -35.14%, #0500FF 143.06%);
    color: white;
}
.content {
    padding: 50px 80px;
    background-color: white;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
}

.content,
button {
    font-size: 15px;
}