/* .nav-container{
    background-color: #cccccc67;
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
}

/* Header.css */
.custom-navbar {
  padding-top: 1px;  /* Adjust this value to decrease the y-axis padding */
  padding-bottom: 5px;  /* Adjust this value to decrease the y-axis padding */
}

.custom-nav-link {
  padding-top: 1px;  /* Adjust this value if needed */
  padding-bottom: 5px;  /* Adjust this value if needed */
}
.nav {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1020; /* Ensure the navbar stays on top */
  background-color: #ffffff; /* Set the background color to prevent transparency issues */
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar{
  position : sticky
      }
