/* header.css */

.navbar-nav .nav-item {
  position: relative;
}

.Nav-Link:hover{
  transition: ease-in-out;
  font-weight: 600;
  color: #007bff;


}
.courses-dropdown, .about-dropdown, .login-dropdown {
  position: absolute;
  top: 100%; /* Position right below the nav item */
  left: 0;
  background: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Initially hidden */
}

.nav-item:hover .courses-dropdown,
.nav-item:hover .about-dropdown,
.nav-item:hover .login-dropdown {
  display: block; /* Show on hover */
}

.course-card, .about-card {
  margin: 5px 0;
  width: 300px;
}

.course-card .card-body, .about-card .card-body {
  padding: 10px;
}

.login-dropdown {
  padding: 5px;
}

.login-btn {
  margin: 5px 0;
  width: 100px;
}
.course-card {
  /* Your custom styles for the card */
  background-color: #f8f9fa; /* Example custom background color */
  border: 2px solid #007bff; /* Example custom border */

}

.course-card .card-body {
  /* Custom styles for the card body */
  padding: 10px;
  
}
.course-card .card-body:hover{
  cursor: pointer;
  background-color: #007bff26;
}

.course-card .card-title {
  /* Custom styles for the card title */
  font-size: 12px !important;
  font-weight: 500;

}

.course-card .card-text {
  /* Custom styles for the card text */
  font-size: 12px !important;
  color: #212427;
}