* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  
  :root {
    --primary-color: #264653;
    --primary-light-color: #99cc99;
    --secondary-color: #ff5c60;
    --light-primary-color: #fef1ec;
    --light-color: #f3f3f3;
    --dark-color: #000;
    --max-width: 1100px;
    --border-color: #ddd;
    --white-color: #fff;
    --primary-text-color: #464647;
    --c-color: #ccc;
    --e-color: #eee;
    --text-color: #464647;
  }


  /* // utility classes */

.primary-color {
  color: var(--primary-color);
}

.font7 {
  font-size: 7pt !important;
}
.font8 {
  font-size: 8pt !important;
}
.font9 {
  font-size: 9pt !important;
}
.font10-42 {
  font-size: 10.42pt !important;
}
.font10 {
  font-size: 10pt !important;
}
.font11 {
  font-size: 11pt !important;
}
.font12 {
  font-size: 12pt !important;
}
.font13 {
  font-size: 13pt !important;
}
.font13-25 {
  font-size: 13.25pt !important;
}
.font14 {
  font-size: 14pt !important;
}
.font15 {
  font-size: 15pt !important;
}
.font16 {
  font-size: 16pt !important;
}
.font18 {
  font-size: 18pt !important;
}
.font20 {
  font-size: 20pt !important;
}
.font22 {
  font-size: 22pt !important;
}
.font24 {
  font-size: 24pt !important;
}
.font26 {
  font-size: 26pt !important;
}
.font30 {
  font-size: 30pt !important;
}
.font32 {
  font-size: 32pt !important;
}
.font33 {
  font-size: 33pt !important;
}
.font39 {
  font-size: 39pt !important;
}
.font40 {
  font-size: 40pt !important;
}
.font42 {
  font-size: 42pt !important;
}
.font47 {
  font-size: 47pt !important;
}
.font48 {
  font-size: 48pt !important;
}

.strike-out-text {
  text-decoration: line-through;
}

.content-wrapper {
  max-width: 80vw;
  margin: auto;
}

.section-gap {
  height: 50px;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.bold-text {
  font-family: "AvenirNextLTPro-Bold";
}

.description-text {
  line-height: 2;
}

/* .splash-title {
  background: -webkit-linear-gradient(
    top,
    var(--primary-color),
    var(--primary-light-color)
  ); */